@model IEnumerable<TL.PCStore.Models.News>

<div class="py-3">
    <h6>@ViewBag.Title</h6>
</div>
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <div class="media align-items-lg-center flex-column flex-lg-row">     
                <div class="media-body order-2 order-lg-1">
                    <p class="mt-0 mb-2 ">
                        @Html.ActionLink(item.Title, "getNews", "news", new { url = item.Url }, htmlAttributes: new {  @class = "text-decoration-none text-dark " })
                    </p>
                    <p class="font-italic text-muted mb-0 small">
                        Đăng bởi @item.User.FullName |

                        Đăng ngày @item.PostedOn |

                        @if (item.ViewCount == 0 || item.ViewCount == null)
                        {
                            <label>(chưa có lượt xem)</label>
                        }
                        else
                        {
                            <label>@item.ViewCount (lượt xem)</label>

                        }

                    </p>
                </div>
            </div>
        </li>
        <hr />
    }
</ul>

